#video{
    top: 28px;
    left: 51px;
    width: 322px;
    height: 320px;
}



#inputUser{
    top: 89px;
    height: 50px;
}


#inputPassword{
    top: 118px;
    height: 50px;
}

#btnLogin{
    top: 150px;
    height: 50px;
}