/* logInForm */

#video {
    top: 28px;
    left: 51px;
    width: 322px;
    height: 320px;
}

#inputUser {
    top: 89px;
    height: 50px;
}


#inputPassword {
    top: 118px;
    height: 50px;
}

#btnLogin {
    top: 150px;
    height: 50px;
}




/*adminDashBoard*/

#header {

    background-color: #212122;
}

#TopDivImg {
    height: 30px;
    position: relative;
}

#TopImg {
    position: fixed;
    bottom: 374px;
    left: -66px;
    max-width: 50%;
    max-height: 61%;
    padding: 72px;
    cursor: grab;
}

.g {
    position: absolute;
    background-color: #1F262D;
    padding: 10px;
    margin: 2px;
    width: 138px;
    height: 490px;
    top: 60px;
}

.btnAdminDashboard{
    width: 122px;
    left: 9px;
    top: 20px;
}

.btnAdminDashboard button{
    width: 125px;
    padding: 15px;
}

.btnAdminDashboard :hover{
    color: aqua;
}


.btnAdminItem{
    width: 122px;
    left: 0px;
    top: 120px;
}

.btnAdminItem button{
    width: 125px;
    padding: 30px;
}

.btnAdminItem :hover{
    color: aqua;
    
}

.btnAdminCustomer{
    width: 122px;
    left: 0px;
    top: 120px;
}

.btnAdminCustomer button{
    width: 125px;
    padding: 20px;
}

.btnAdminCustomer hr{
    position: relative;
    top: -1px;
}

.btnAdminCustomer :hover{
    color: aqua;
}

.btnAdminOredr{
    bottom:15px;
}


.btnAdminOredr button{
    width: 125px;
    padding: 20px;
}


.btnAdminOredr :hover{
    color: aqua;
}
