
/*adminForm*/

#header {

    background-color: #212122;
}

#TopDivImg {
    height: 30px;
    position: relative;
}

#TopImg {
    position: fixed;
    bottom: 374px;
    left: -66px;
    max-width: 50%;
    max-height: 61%;
    padding: 72px;
   
}

.g {
    position: absolute;
    background-color: #1F262D;
    padding: 10px;
    margin: 2px;
    width: 138px;
    height: 490px;
    top: 60px;
}

.divItem{
    width: 122px;
    left: 9px;
    top: 20px;
}

.divItem button{
    width: 125px;
    padding: 15px;
}

.divItem :hover{
    color: aqua;
}


.divCustomer{
    width: 122px;
    left: 0px;
    top: 104px;
}

.divCustomer button{
    width: 125px;
    padding: 30px;
}

.divCustomer :hover{
    color: aqua;
    
}

.divOrder{
    width: 122px;
    left: 0px;
    top: 120px;
}

.divOrder button{
    width: 125px;
    padding: 20px;
}

.divOrder hr{
    position: relative;
    top: -1px;
}

.divOrder :hover{
    color: aqua;
}

.divOrderDetails{
    bottom:15px;
}

.divOrderDetails button{
    width: 125px;
    padding: 20px;
}

.divOrderDetails :hover{
    color: aqua;
}


/*======================================== item form ======================================== */

.itemSection{
    background-color: #EEEEEE;
    width: 1097px;
    height: 490px;
    position: absolute;
    left: 128px;
    top: 62px;
}

/*======================================== customerform ======================================== */
.customerSection{
    background-color: #EEEEEE;
    width: 1097px;
    height: 490px;
    position: absolute;
    left: 128px;
    top: 62px;
}


.customerDiv{
    position: relative;
    left: 0px;
    top: 12px;
    cursor: text;
}

.customerCombo{
    width: 107px;
    height: 30px;
    cursor: pointer;
}

.downCombo{
    position: relative;
    top: 16px;
}

.customerBtn{
    position: relative;
    left: 747px;
    bottom: -14px;
}

#saveCustomer{
    background-color: #056399;
    width: 189px;
    position: absolute;
    left: -46px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

#updateCustomer{
    background-color: #059862;
    width: 189px;
    position: absolute;
    left: 158px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}


/*======================================== order form ======================================== */
.oredrSection{
    background-color: #EEEEEE;
    width: 1097px;
    height: 490px;
    position: absolute;
    left: 128px;
    top: 62px;
}


.orderDiv{
    position: relative;
    left: 0px;
    top: 12px;
    cursor: text;
}


.orderBtn{
    position: relative;
    left: 747px;
    bottom: -14px;
}

#saveOrder{
    background-color: #056399;
    width: 189px;
    position: absolute;
    left: -46px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

#updateOrder{
    background-color: #059862;
    width: 189px;
    position: absolute;
    left: 158px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}
